<div class="flex justify-center">
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-4 gap-4 gap-y-8 mx-auto px-4 sm:px-6 lg:px-12">
        {% for movie in movies %}
        <div class="relative w-[250px] sm:w-[260px] md:w-[280px] lg:w-[300px] xl:w-[320px] flex flex-col items-center">
            <div class="relative w-full h-[400px] sm:h-[420px] md:h-[440px] lg:h-[460px] xl:h-[480px] overflow-hidden bg-gray-900 flex items-center justify-center">
                <img src="{{ movie.Poster }}" alt="{{ movie.Title }}" class="w-full h-full object-cover">
                <div class="absolute inset-0 bg-black bg-opacity-80 text-white flex items-center justify-center opacity-0 hover:opacity-100 transition-opacity duration-300 p-4">
                    <p class="text-base text-center font-bold" style="font-family: 'Special Elite', monospace;">{{ movie.Plot }}</p>
                </div>
            </div>
            <h2 class="text-2xl sm:text-xl font-extrabold text-white mt-1 text-center w-full break-words text-green-400" style="font-family: 'monospace', sans-serif;">
                {{ movie.Title }}
            </h2>
        </div>
        {% endfor %}
    </div>
</div>

<div class="pagination flex justify-center space-x-2 mt-4">
    {% if pagination.has_prev %}
        <a href="{{ url_for('home', page=pagination.prev_num) }}" class="px-2 py-1 text-sm bg-red-500 text-white rounded hover:bg-red-600 transition-colors duration-300">Prev</a>
    {% endif %}

    <span class="px-2 py-1 text-sm bg-gray-300 rounded text-gray-800">Page {{ pagination.page }} of {{ pagination.pages }}</span>

    {% if pagination.has_next %}
        <a href="{{ url_for('home', page=pagination.next_num) }}" class="px-2 py-1 text-sm bg-red-500 text-white rounded hover:bg-red-600 transition-colors duration-300">Next</a>
    {% endif %}
</div>
